@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype"),
    url("../fonts/Gilroy-Heavy.ttf") format("truetype"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}
::selection {
  background-color: black;
  color: #fff;
}

body,
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

/* ############     Loader       ########## */
#t-spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  /* display: none; */
}
.newtons-cradle {
  --uib-size: 10px;
  --uib-speed: 1.2s;
  --uib-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50px;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

#full {
  height: 400%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  transition: all 3s ease-in;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: none;
}
body::-webkit-scrollbar {
  width: 0px;
}
body a {
  text-decoration: none;
  color: #fff;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
#nav {
  position: fixed;
  z-index: 999;
  transition: background-color 0.5s ease;
  /* background-color: red; */
}
.nav {
  min-width: 100vw;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  align-items: center;
  padding-inline: 1.5rem;
  position: relative;
}
.nav-left {
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-basis: 50%;
  gap: 2rem;
}
.nav-left h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  user-select: none;
}
.nav-right {
  display: flex;
  gap: 2rem;
  flex-basis: 50%;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  width: max-content;
}

.nav-right ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  cursor: pointer;
  color: #fff;
  align-items: center;
}
ul li {
  font-size: 1rem;
  font-weight: 500;
  width: max-content;
  margin-inline: 0.5rem;
  position: relative;
}
.hide {
  padding: 5px 10px;
  /* background-color: rgba(0,0,0,0.5); */
  border-radius: 30px;
  border: 1px solid #fff;
  transition: all 0.1s ease-in;
}
.hide:hover {
  background-color: #012d3c;
}
.hide::after {
  display: none;
}
#line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: width 0.2s, transform 0.2s;
  transform-origin: right;
  transform: scaleX(0);
}
#line:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
button {
  width: max-content;
  padding: 0.7rem 1rem;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(100px);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 1rem;
  cursor: pointer;
  display: block;
  transition: all 0.1s ease-in;
  display: none;
}
button:hover {
  background-color: #f0f0f0;
  color: #000;
}
hr {
  color: #333;
  background-color: #fff8; /* Change to black (#000) */
  height: 2px;
  border: none;
  backdrop-filter: blur(100px);
}

#menu {
  font-size: 1.5rem;
  color: #fff;
  display: none;
}
#closemenu {
  display: none;
}

.if-login {
  display: none;
}

/* ++++++++ MOdal +++++++++ */

.popup {
  width: 40vw;
  height: 76vh;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.01);
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0; /* Add opacity property */
  transition: transform 0.4s ease-in-out, opacity 0.4s; /* Adjust the transition properties */
  z-index: 9999;
  display: flex;
  flex-direction: column;
}
.popup #close {
  color: #000;
  font-size: 1.5rem;
  padding: 10px 14px;
  background-color: #ececec;
  border-radius: 100%;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;

  transition: background-color 0.1s, box-shadow 0.1s;
}
.popup #close:hover {
  background-color: #ffffff;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.65);
}
.popup h1 {
  font-size: 2.5rem;
  color: #fff;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
textarea::-webkit-scrollbar {
  width: 0px;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1; /* Add opacity property */
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: flex;
  align-items: center;
  padding: 0 0.4rem;
  position: relative;
  font-size: 1.5rem;
  overflow: hidden;
}
#blog-img {
  display: none;
  /* Hide the original file input */
}
.file-placeholder {
  border: 1px solid #acacac;
  overflow-y: scroll;
  text-align: start;
  max-width: 130px;
  max-height: 100%;
  text-overflow: ellipsis;
}
.file-placeholder::-webkit-scrollbar {
  width: 0px;
}
.file-preview {
  position: absolute;
  right: 15%;
  width: 100%;
  height: 100%;
  max-width: 100px; /* Adjust the max-width as needed for the small preview */
  object-fit: cover;
  display: none;
}

.file-placeholder {
  right: 50%;
  position: absolute;
  font-size: 1rem;
  /* width: 100%; */
  cursor: pointer;
  /* background: #000; */
  padding: 5px;
  border-bottom: 1px solid #444;
}
.view-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #555;
  /* z-index: 99999; */
  display: none;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#full-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.modal-content {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
.input-field-t {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 85px;
  border-radius: 55px;
  display: flex;
  align-items: center;
  padding: 0 0.4rem;
  position: relative;
  font-size: 1.5rem;
}

.input-field-t textarea {
  height: 90%;
  padding-top: 25px;
  padding-right: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 1.2rem;
  resize: none;
}

.input-field input {
  font-size: 1.2rem;
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
}

.input-field i {
  color: #acacac;
  margin-inline: 1rem;
}
.input-field-t i {
  color: #acacac;
  margin-inline: 1rem;
}
#btns {
  /* background-color: #000; */
  width: 18vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
}
#btns a {
  padding: 10px;
  background-color: #acacac;
  border-radius: 50px;
  padding-block: 1rem;
  padding-inline: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.1s;
}
#btns a:hover {
  background-color: #837f7f;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* padding: 10px; */
}
.h-container {
  width: 100%;
  height: 100%;
  /* border: 4px solid #358fef; */
  position: relative;
}
.h-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  position: fixed;
}
.overlay-video-background {
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  top: 0;
}
.content-over-video {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
  backdrop-filter: blur(5px);
  position: relative;
  /* background: #000; */
}

#greeting {
  font-size: 60px;
  font-weight: 800;
  color: #ffffff;
  width: 90%;
}
#title {
  font-size: 65px;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 0.1px #ececec;
  text-transform: uppercase;
  text-decoration: underline;
}

.content-over-video #desc {
  color: #fff;
  font-size: 1rem;
  font-family: "Gilroy";
  width: 40%;
  /* background: #000; */
}
#h-btn {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  color: #fff;
  display: none;
  transition: all 0.2s ease-in;
  margin-inline: auto;
  padding: 1.2rem 3rem;
  font-size: 1rem;
}
#h-btn:hover {
  background-color: #fff;
  color: #000;
  font-weight: 800;
}
.pc_landing_main_screen-scroll-indicator {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, -50%);
  color: #fff;
  border-radius: 50px;
  padding: 15px 23px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.pc_landing_main_screen-scroll-indicator:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff8;
}
.pc_landing_main_screen-scroll-indicator-icon1 {
  animation: scrolldown 2s ease-in-out 0s infinite;
}
.pc_landing_main_screen-scroll-indicator-icon2 {
  animation: scrolldown 2s ease-in-out 0.5s infinite;
}

/*+++++++++++++++++ ================    Blogs  +++++++++*/

.main-container {
  width: 100%;
  height: max-content;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  position: relative;
  backdrop-filter: blur(150px);
}
#spinner {
  height: 80vh;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: none; */
}

#all-blogs {
  width: 100%;
  height: max-content;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  position: relative;
  /* background-color: #333; */
  backdrop-filter: blur(100px);
}

.all-blogs {
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-origin: top center;
  /* margin-top: 25rem; */
}
.article-container {
  max-width: 1024px;
  width: 100%;
  /* height: 100vh; */
  margin-inline: auto;
  padding: 2.5rem 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article__card {
  width: 17.5rem;
  height: 100%;
  background: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
}
.article__image {
  height: 17rem;
}
.article__image img {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem 1.25rem 0 0;
  object-fit: cover;
}
.article__content {
  padding: 1.5rem;
  position: relative;
}
.postingInfo {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: column;
  width: max-content;
  font-size: 0.8rem;
  color: #000;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px;
  border-radius: 5px;
}
.postingInfo .author {
  text-transform: capitalize;
}
.card__category {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #333;
  display: block;
  padding-left: 5px;
}
.card__title {
  margin-block: 0.8rem;
  color: #22447b;
  height: 3.5rem;
  width: 65%;
  padding-left: 5px;
}
.card__excerpt {
  color: #000;
  margin: 0;
  overflow: hidden;
  padding-bottom: 10px;
  min-height: 1rem;
  height: 4.7rem;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  padding-left: 5px;
}
#viewmore {
  padding: 0.8rem 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: right;
  border-radius: 8px;
  transition: all 0.3s;
}
#viewmore:hover {
  background-color: rgba(0, 0, 0, 0.692);
}

.swiper-pagination {
  height: 2rem;
}
.swiper-container {
  margin: auto;
  width: 23rem;
}
.swiper-slide {
  width: 100%;
}

#prev-btn,
#next-btn {
  background-color: rgba(0, 0, 0, 0.5);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1.2rem;
  color: #fff;
  transition: all 0.1s ease-in;
}
#prev-btn i,
#next-btn i {
  font-size: 1.5rem;
}
#prev-btn:active,
#next-btn:active {
  transform: scale(0.95);
}
#prev-btn:hover,
#next-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

#next-btn::after {
  display: none;
}
#prev-btn::after {
  display: none;
}

#all-blogs-head {
  position: absolute;
  top: 8%;
  color: #fff;
  font-size: 2.5rem;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  padding-left: 15%;
  align-items: center;
}
.not-found-container {
  width: 100vw;
  height: 100vh;
  /* background-color: #000; */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /* position: absolute; */
  /* z-index: 9999; */
  /* display: none; */
}
#not-found-text {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 100;
}
#not-found {
  transform: translateX(5%);
}
/*Slider Khatam */

@keyframes scrolldown {
  0% {
    opacity: 1;
    transform: scale(1.25);
  }
  50% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1.25);
  }
}
@media (min-width: 901px) and (max-width: 1100px) {
  .nav-left h1 {
    padding-inline: 5px;
  }
  .nav {
    position: fixed;
    top: 0;
    z-index: 9;
  }
  .enlarged .nav-right ul {
    /* display: none; */
    width: 25vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 11.5vh;
    bottom: 0;
    left: -35vh;
    z-index: 3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-top: 10vh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    align-items: center;
  }
  ul li::before {
    display: none;
  }
  .enlarged .nav-right ul li {
    font-size: 1.5rem;
    text-align: start;
    padding: 20px;
    border-bottom: 0.5px solid #acacac;
  }
  #menu {
    display: block;
    padding-left: 10px;
  }
  #closemenu {
    display: none;
    color: #fff;
    font-size: 1.7rem;
    padding-left: 10.6px;
  }
  #line::after {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .nav-right ul {
    /* display: none; */
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 12vh;
    bottom: 0;
    left: -25vh;
    z-index: 3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-top: 10vh;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  ul li::before {
    display: none;
  }
  .nav-right ul li {
    width: 100%;
    text-align: start;
    padding-block: 10px;
    border-bottom: 0.5px solid #acacac;
  }
  #menu {
    display: block;
    padding-left: 10px;
  }
  #closemenu {
    display: none;
    color: #fff;
    font-size: 1.7rem;
    padding-left: 10.6px;
  }
  #line::after {
    display: none;
  }
  .hero-section #desc {
    width: 60%;
    margin-top: 2.2rem;
    font-size: 1.2rem;
  }
  .popup {
    width: 70vw;
    height: 70vh;
    backdrop-filter: blur(200px);
    border-radius: 10px;
  }
  #btns {
    width: 20vw;
  }
  .article__card {
    /* margin-left: -1rem; */
    min-width: 23rem;
    height: 100%;
    background: #fff;
    border-radius: 1.25rem;
    overflow: hidden;
  }
}
@media (max-width: 574px) {
  .nav-right ul {
    width: 40vw;
  }
  #greeting {
    width: 100%;
    font-size: 2rem;
    line-height: 45px;
    padding-inline: 5px;
  }
  #title {
    font-size: 2rem;
    border-bottom: 1px solid #fff;
    /* text-decoration: none; */
    border: none;
    margin-top: 1rem;
  }
  .content-over-video #desc {
    width: 95%;
    line-height: 25px;
    margin-top: 2rem;
  }
  .nav-left h1 {
    font-size: 1.5rem;
  }
  #all-blogs-head {
    top: 10%;
    justify-content: center;
    padding-left: 0;
  }
  #all-blogs-head h1 {
    font-size: 1.8rem;
  }
  /* // Modal // */

  .popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(200px);
  }
  .popup #close {
    top: 10%;
  }
  .popup h1 {
    font-size: 2.5rem;
  }

  .input-field input {
    font-size: 0.9rem;
  }
  .input-field-t textarea::placeholder {
    left: 30%;
  }

  #btns {
    height: 8vh;
    width: 12rem;
    margin-top: 1rem;
  }
  #btns a {
    margin-top: 1rem;
    padding: 15px 20px;
    width: 100%;
  }

  /* For Loader */

  .newtons-cradle__dot {
    width: 20px;
  }

  .newtons-cradle__dot::after {
    height: 20px;
    border-radius: 50%;
  }
}

@media (max-width: 400px) {
  .nav-left h1 {
    font-size: 1rem;
    width: 100%;
    /* background: #ececec; */
  }
  button {
    margin-right: -15px;
  }
  #all-blogs-head {
    justify-content: center;
    padding-left: 0;
  }
  #all-blogs-head h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 300px) {
  .nav-left {
    gap: 12px;
  }
  #menu {
    margin-left: -20px;
  }
}
