@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype"),
    url("../fonts/Gilroy-Heavy.ttf") format("truetype"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 0px;
}
body,
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: "Gilroy";
  background-color: #3f3f3f;
  backdrop-filter: blur(10px);
}

/* //  loader */

#t-spinner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  display: none;
}
.newtons-cradle {
  --uib-size: 10px;
  --uib-speed: 1.2s;
  --uib-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50px;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav {
  width: 100%;
  height: 12vh;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  height: 100%;
  align-items: center;
  padding-left: 2rem;
  display: flex;
  flex-basis: 50%;
}
.nav-left h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  user-select: none;
}
.nav .nav-right {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: #fff;
  padding-right: 4rem;
}
.nav .nav-right a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: max-content;
  /* margin-left: 2rem; */
}
#line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transition: width 0.2s, transform 0.2s;
  transform-origin: right;
  transform: scaleX(0);
}
#line:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* +++++++++++++++++++               Image Container         ++++++++++++++++++ */
.main-container {
  height: 100vh;
  width: 100vw;
}
.main-container article {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.image-container {
  margin: 1rem;
  height: 70vh;
  width: 97.5%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container h1 {
  color: #fff;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid #fff;
}

.container {
  position: absolute;
  height: max-content;
  width: 80%;
  top: 70%;
  background-color: #555;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 10px solid #fff;
}
.container .postingDets {
  text-transform: capitalize;
  min-width: 35%;
  min-height: 40vh;
  position: relative;
  padding-inline: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* width: max-content; */
  background: rgba(0, 0, 0, 0.2);
  margin-top: -9rem;
  padding: 10px;
  border: 5px solid #fff;
}
.container .postingDets #title {
  text-transform: capitalize;
  height: max-content;
  width: max-content;
  max-width: 93vw;
  font-size: 4rem;
  font-weight: 800;
  margin-top: -4rem;
  color: #fff;
}
.postingDets .genre {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff8;
  font-size: 1.3rem;
}
.postingDets .genre #genre {
  color: #fff;
}
.author {
  position: absolute;
  right: 0px;
  bottom: 30px;
  color: #fff8;
  font-size: 1rem;
  padding: 10px;
}
.date {
  position: absolute;
  bottom: 10px;
  right: 0;
  color: #fff8;
  padding: 10px;
  font-size: 1rem;
}
.desc-head h1 {
  color: #fff;
  gap: 1rem;
  letter-spacing: 1px;
  margin-top: 10px;
}

.desc {
  text-transform: capitalize;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #fff;
  min-height: 40vh;
}

@media (max-width: 1000px) {
  .image-container {
    z-index: 9;
  }
  .container {
    width: 90%;
    margin-top: 1rem;
  }
  .container .postingDets {
    margin-top: -7rem;
    z-index: 99;
  }

  .desc {
    padding-top: 3.5rem;
  }
}
@media (max-width: 574px) {
  .nav .nav-left {
    justify-content: flex-start;
    padding-left: 0.8rem;
  }
  .nav-left h1 {
    min-width: max-content;
    width: 100%;
    align-items: center;
    /* background: #fff; */
    font-size: 1.1rem;
  }
  .nav .nav-right {
    padding-left: 4rem;
    font-size: 1.2rem;
  }
  .container {
    width: 100%;
  }
  .container .postingDets {
    justify-content: space-between;
    min-width: 60vw;
    border: 10px solid #fff;
    width: 97%;
    padding-inline: 5px;
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 25vh;
    backdrop-filter: blur(10px);
    max-height: max-content;
    margin-top: 0rem;
  }
  .desc-head h1 {
    color: #fff;
    gap: 1rem;
  }
  .container .postingDets #title {
    height: 100%;
    max-height: max-content;
    width: max-content;
    max-width: 93vw;
    font-size: 1.8rem;
    font-weight: 800;
    color: #fff;
    margin-top: 0;
  }
  .container {
    border: none;
  }
  .desc-head {
    display: none;
    /* width: 100vw; */
    /* border-bottom: 10px solid #fff; */
  }

  .desc {
    background-color: #555555;
    width: 97vw;
    margin-top: 0.5rem;
    padding-block: 2rem;
    border: 10px solid #fff;
    /* border-top: none; */
  }

  /* For Loader */
  .newtons-cradle__dot {
    width: 20px;
  }

  .newtons-cradle__dot::after {
    height: 20px;
    border-radius: 50%;
  }
  .postingDets .genre {
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: #fff8;
    font-size: 1.1rem;
    max-width: 160px;
    height: auto;
    min-width: max-content;
  }
}
